<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhangyingjie.DesignMode">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FactoryMethod.FactoryMethodActivity" />
        <activity android:name=".SingletonMethod.SingletonMethodActivity" />
        <activity android:name=".BuilderMethod.BuilderMethodActivity" />
        <activity android:name=".PrototypeMethod.PrototypeMethodActivity" />
        <activity android:name=".AdapterMethod.AdapterMethodActivity" />
        <activity android:name=".AbstractFactory.AbstractFactoryActivity" />
        <activity android:name=".DecoratorMethod.DecoratorMethodActivity" />
        <activity android:name=".ProxyMethod.ProxyActivity" />
        <activity android:name=".FacadeMethod.FacadeMethodActivity" />
        <activity android:name=".BridgeMethod.BridgeMethodActivity" />
        <activity android:name=".CompositeMethod.CompositeMethodActivity" />
        <activity android:name=".FlyweightMethod.FlyweightMethodActivity" />
        <activity android:name=".StrategyMethod.StrategyMethodActivity" />
        <activity android:name=".TemplateMethod.TemplateMethodActivity" />
        <activity android:name=".ObserverMehtod.ObserverMethodActivity" />
        <activity android:name=".IteratorMethod.IteratorMethodActivity" />
        <activity android:name=".ChainOfResponsibilityMethod.ChainOfResponsibilityActivity" />
        <activity android:name=".CommandMethod.CommandMethodActivity" />
        <activity android:name=".MementoMethod.MementoMethodActivity" />
        <activity android:name=".StateMethod.StateMethodActivity" />
        <activity android:name=".VisitorMethod.VisitorMethodActivity" />
        <activity android:name=".MediatorMethod.MediatorMethodActivity" />
        <activity android:name=".InterpreterMethod.InterpreterMethodActivityActivity"></activity>
    </application>

</manifest>